<div class="text-center pt-2">

  {{ if .Site.Params.footer.socialNetworks.github }}
  <span class="px-1">
    <a
      href="{{ .Site.Params.footer.socialNetworks.github }}"
      aria-label="github"
    >
    <i class="fab fa-square-github" style="font-size: 48px;"></i>
    </a>
  </span>

  {{ end }} {{ if .Site.Params.footer.socialNetworks.linkedin }}
  <span class="px-1">
    <a
      href="{{ .Site.Params.footer.socialNetworks.linkedin }}"
      aria-label="linkedin"
    >
    <i class="fab fa-linkedin" style="font-size: 48px;"></i>
  </a>
  </span>

  {{ end }} {{ if .Site.Params.footer.socialNetworks.twitter }}
  <a
    href="{{ .Site.Params.footer.socialNetworks.twitter }}"
    aria-label="twitter"
  >
  <i class="fab fa-square-x-twitter" style="font-size: 48px;"></i>
  </a>

{{ end }} {{ if .Site.Params.footer.socialNetworks.instagram }}
<span class="px-1">
<a
    href="{{ .Site.Params.footer.socialNetworks.instagram }}"
    aria-label="instagram"
  >
  <i class="fab fa-square-instagram" style="font-size: 48px;"></i>
  </a>
</span>

  {{ end }} {{ if .Site.Params.footer.socialNetworks.facebook }}
<span class="px-1">
  <a
    href="{{ .Site.Params.footer.socialNetworks.facebook }}"
    aria-label="facebook"
  >
  <i class="fab fa-square-facebook" style="font-size: 48px;"></i>
  </a>
</span>
  {{ end }}
</div>
